@font-face {
    font-family: "Sora";
    src: url("./fonts/sora.ttf");
    
}
@font-face {
    font-family: "Sorabold";
    src: url("./fonts/sora/Sora-Bold.ttf");
}

@font-face {
    font-family: "Magistralbold";
    src: url("./fonts/magistral/Magistral-Bold.otf") format("opentype");
}

h1{
    font-family: Magistralbold;
    color: #352D58;
    font-size: 2.5em
}

h2{
    font-family: Magistralbold;
    color: #352D58;
    font-size: 1.875em

}

h4{
    font-family: Sorabold;
    color: #352D58;
    font-size: 1em
}

body{
    margin: 40;
    color: #272040;
    background: white;
    text-align: left;
    font-family: Sora;
    font-size: 100%
}